# Игнорировать файлы с конфиденциальными данными сотрудников
FioLatinica.txt
PasswdFile.txt

# Игнорировать кэш Python (создается автоматически при запуске)
__pycache__/
*.pyc

# Игнорировать скрытые папки систем и редакторов кода
.idea/
.vscode/
.DS_Store
